* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/*Hero-------------------------*/
.hero {
    padding: 45px 20px;
    background-image: url("img/hero-backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    color: firebrick;
}

.hero__subtitle {
    width: 60%;
    margin: 0 auto 15px;
    font-size: 18px;
    color: black;
}

.hero a {
    display: none;
}

/*Main----------------------------*/
.main {
    padding: 70px 10px 40px;
    background-color: #f0ebe8;
}

.product-card {
    margin-bottom: 30px;
    background-color: white;
    padding-bottom: 20px;
}

.product-card__text {
    text-align: left;
    padding: 10px;
}

/*Comments--------------------------*/
.comments {
    background-image: url("img/comments-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

/*Form-------------------------------*/
.form {
    padding: 20px 10px 40px;
}

.form label {
    margin: 0 20px 20px 0;
    width: 100%;
}

.form form {
    margin: 0 auto;
    width: 466px;
    max-width: 100%;
}

.form input {
    padding: 10px;
    width: 100%;
}

.form span {
    color: red;
}

/*Footer--------------------------------*/
.footer {
    background-color: black;
    padding: 40px 30px;
}

.footer p {
    color: white;
}

/*Modal------------------------------------*/
.modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal__content span {
    float: right;
}

@media all and (max-width: 600px) {
    .hero__subtitle {
        width: unset;
    }

    .hero a {
        display: inline-block;
    }
}